body{
    background-color: rgb(48, 48, 48) !important;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
}
nav{
    background-color: white;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#container{
    width: 75vw;
}
#row_1{
    height: 65vh;
    width:100%;
    display: flex;
    gap: 20px;
    
}
#carrousel{
    height: 100%;
    background-image: url("img/1st_carrousel.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-grow: 3.15;
}
#contact{
    height: 100%;
    flex-grow: 1;
    background-image: url("img/contact_info.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.rounded_borders{
    border-radius: 5px;
}
#row_2{
    height: 22vh;
    width:100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#row_3{
    height: 22vh;
    width:100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.box{
    height: 100%;
    width: 100%;
}

#nav_subcontainer_left{
    width: 37.5vw;
    height: 100%;
    border: 1px solid hsl(0, 100%, 52%);
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#nav_subcontainer_right{
    height: 100%;
    width: 37.5vw;
    border: 1px solid #0004ff;

}

#logo{
    background-image:url("img/rigiflex.png");
    height: 40px;
    width:196px;
    display: block;
}

#nav_buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

input:focus::-webkit-input-placeholder{
    color: transparent;
}

#nav_buttons > li{
    width: 100%;
    height: 100%;


}

.nav_button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(73, 72, 72);
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}

.nav_button:hover{
    color: green;
    border-bottom: 5px solid green;
}

#container_nav_search{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}